nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20%;
  height: 70px;
}

nav a {
  text-decoration: none;
  margin-left: 10px;
  color: var(--primary);
}

nav a:last-child {
  background-color: var(--primary);
  color: var(--white);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
