.order-container {
  padding: 20px 20%;
  display: block;
}

.order-container h2 {
  margin-bottom: 20px;
}

.order-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.order-item h4 {
  margin-bottom: 10px;
}

.order-item .btn-group {
  margin-top: 10px;
}

.order-container button {
  margin-top: 10px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 3px;
  cursor: pointer;
}
