.container {
  padding: 20px 20%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.product-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-content {
  padding: 10px;
}

.name-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-container button {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}
